<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      v-if="!loading"
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="closePokemon(detailPokemon.id)">
            <v-icon color="#ffcb08">mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title class="title">
            {{ detailPokemon.name }}
          </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-row cols="12" class="mt-2 mb-2" justify="center">
          <v-col cols="3">
            <v-img contain height="320" :src="detailPokemon.img"></v-img>
          </v-col>
          <v-col cols="3" class="pa-5">
            <v-card-title class="text-capitalize pl-0">
              {{ detailPokemon.name }}
            </v-card-title>
            <div>
              <v-toolbar-title>Abilities</v-toolbar-title>
              <v-chip
                v-for="(ability, index) in detailPokemon.abilities"
                :key="index"
                class="ma-1 pa-2 text-capitalize"
                :color="getColor()"
                text-color="white"
              >
                {{ ability }}
              </v-chip>
            </div>
            <div>
              <v-toolbar-title>Type</v-toolbar-title>
              <v-chip
                v-for="(type, index) in detailPokemon.type"
                :key="index"
                class="ma-1 pa-2 text-capitalize"
                :color="getColor()"
                text-color="white"
              >
                {{ type }}
              </v-chip>
            </div>
          </v-col>
        </v-row>

        <v-divider></v-divider>
        <v-row cols="12" class="mb-5 mt-5" justify="center" v-if="evolution[0]">
          <v-card width="50%" justify="center" color="#fcfcfc">
            <v-card-title class="center-title">Evolution Tree</v-card-title>
            <v-row
              cols="12"
              justify="center"
              align="center"
              v-if="evolution[0]"
            >
              <v-col cols="4" class="pa-5" v-if="evolution[0].img">
                <v-img contain height="150" :src="evolution[0].img"></v-img>
                <v-card-subtitle class="center-title text-capitalize">
                  {{ evolution[0].name }}
                </v-card-subtitle>
              </v-col>
              <v-col cols="4" class="pa-5" v-if="evolution[1].img">
                <v-img contain height="150" :src="evolution[1].img"></v-img>
                <v-card-subtitle class="center-title text-capitalize">
                  {{ evolution[1].name }}
                </v-card-subtitle>
              </v-col>
              <v-col cols="4" class="pa-5" v-if="evolution[2].img">
                <v-img contain height="150" :src="evolution[2].img"></v-img>
                <v-card-subtitle class="center-title text-capitalize">
                  {{ evolution[2].name }}
                </v-card-subtitle>
              </v-col>
            </v-row>
          </v-card>
        </v-row>

        <v-row cols="12" class="mt-2 pb-5" justify="center">
          <v-col cols="3">
            <v-row justify="space-around" class="mr-3">
              <v-card width="100%" tile color="#fcfcfc">
                <v-list-item>
                  <v-list-item-icon>
                    <v-icon color="#ed3237">mdi-play</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>Base Experience</v-list-item-title>
                    <v-list-item-subtitle>
                      {{ detailPokemon.baseExperience }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-icon>
                    <v-icon color="#ed3237">mdi-play</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>Height</v-list-item-title>
                    <v-list-item-subtitle>
                      {{ detailPokemon.height }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-icon>
                    <v-icon color="#ed3237">mdi-play</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>Weight</v-list-item-title>
                    <v-list-item-subtitle>
                      {{ detailPokemon.weight }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </v-row>
            <v-row justify="space-around" class="mt-8 mr-3">
              <v-card width="100%" color="#fcfcfc">
                <v-card-text>
                  <div class="font-weight-bold ml-8 mb-2">Stats</div>
                  <v-timeline align-top dense class="mb-20">
                    <v-timeline-item
                      v-for="stat in detailPokemon.statList"
                      :key="stat.name"
                      small
                      color="#ffcb08"
                    >
                      <div>
                        <div class="font-weight-normal">
                          <strong class="text-capitalize">
                            {{ stat.name }}
                          </strong>
                        </div>
                        <v-rating
                          background-color="#ffcb08"
                          color="#ed3237"
                          half-increments
                          dense
                          readonly
                          length="5"
                          size="20"
                          :value="getRatingValue(stat.baseStat)"
                        ></v-rating>
                      </div>
                    </v-timeline-item>
                  </v-timeline>
                </v-card-text>
              </v-card>
            </v-row>
          </v-col>
          <v-col cols="3">
            <v-row justify="space-around">
              <v-card width="100%" color="#fcfcfc">
                <v-card-text>
                  <v-toolbar-title>Moves</v-toolbar-title>
                  <v-chip
                    label
                    outlined
                    v-for="(move, index) in detailPokemon.moves"
                    :key="index"
                    class="ma-1 text-capitalize"
                    :color="getColor()"
                  >
                    {{ move.name }}
                  </v-chip>
                </v-card-text>
              </v-card>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapActions, mapState } from "vuex";
export default {
  props: ["detailList", "detailPokemon", "diologStatus"],
  data() {
    return {
      loading: true,
      chain: [],
      evolution: [],
      dialog: false,
    };
  },
  async mounted() {
    this.dialog = this.diologStatus;
    await this.loadPokemonSpecies(this.detailPokemon.name).catch((error) => {
      this.$swal("Oops...", error.message, "error");
    });

    this.createChain(this.pokemonSpecies);
    this.loading = false;
  },
  computed: {
    ...mapState("pokemon", ["evolutionChain", "pokemonSpecies"]),
  },
  methods: {
    ...mapActions("pokemon", ["loadPokemonSpecies", "loadEvolutionChain"]),

    getColor() {
      const colors = [
        "#ed3237",
        "#3267b1",
        "#8C5383",
        "#348C31",
        "#f27d0c",
        "#9B1D20",
        "#00A7E1",
        "#748E54",
        "#5A4D41",
      ];
      let position = Math.floor(Math.random() * colors.length);
      return colors[position];
    },

    getRatingValue(rating) {
      let starts = rating / 10 / 2;
      return starts;
    },

    closePokemon(id) {
      this.$emit("changeDiologStatus", id);
    },

    async createChain(species) {
      let chainId = species.evolution_chain.url.slice(41).replace("/", "");

      await this.loadEvolutionChain(chainId).catch((error) => {
        this.$swal("Oops...", error.message, "error");
      });

      const base = this.evolutionChain.chain;

      let evolutionTree = [];
      evolutionTree.push(base?.species.name);
      evolutionTree.push(base?.evolves_to[0]?.species.name);
      evolutionTree.push(base?.evolves_to[0]?.evolves_to[0]?.species.name);

      evolutionTree.map((tree) => {
        var item = this.detailList.find((item) => item.name === tree);
        let evolution = {
          name: tree,
          img: item?.img,
        };
        this.evolution.push(evolution);
      });
    },
  },
};
</script>
<style scoped>
.title {
  text-transform: capitalize;
  color: #ffcb08;
}

.top-container {
  display: flex;
}
.flex {
  display: inline-flex;
}
.center-title {
  width: 100% !important;
  text-align: center !important;
}
</style>
