<template>
  <v-container class="mt-0 pt-0">
    <v-row>
      <v-col cols="8" class="pt-12">
        <v-card :loading="loadingTable">
          <v-card-title>
            <h3 class="red--text">Pokemon List</h3>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search pokemon by name"
              single-line
              hide-details
              class="text--disabled"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="columns"
            :items="pokemonDetailList"
            :search="search"
            class="elevation-1 text-capitalize primary--text row-pointer"
            locale="en"
            :loading="loadingList"
            @click:row="loadResume"
          >
            <template v-slot:item.type="{ item }">
              <v-chip
                v-for="(typeName, index) in item.type"
                :key="index"
                :color="getColor(typeName)"
                class="mr-1 disabled-chip"
                dark
              >
                {{ typeName }}
              </v-chip>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
      <v-col cols="4" class="pt-12">
        <Resume
          :pokemonResume="pokemonResume"
          :loadingBtnStatus="loadComponent"
          @changeDiologStatus="loadPokemonDetailPage"
        />
      </v-col>
    </v-row>
    <Pokemon
      v-if="loadComponent"
      :detailList="pokemonDetailList"
      :detailPokemon="pokemonDetail"
      :diologStatus="loadComponent"
      @changeDiologStatus="loadPokemonDetailPage"
    />
  </v-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import Resume from "../components/Resume.vue";
import Pokemon from "../views/Pokemon.vue";
export default {
  components: {
    Resume,
    Pokemon,
  },
  data() {
    return {
      search: "",
      loadingTable: true,
      loadingList: true,
      error: "",
      pokemonResume: {},
      pokemonDetail: {},
      pokemonDetailList: [],
      loadComponent: false,
      columns: [
        { text: "Name", value: "name", width: "60%" },
        { text: "Type", value: "type", width: "40%" },
      ],
    };
  },
  async mounted() {
    await this.loadPokemonList().catch((error) => {
      this.$swal("Oops...", error.message, "error");
    });

    this.pokemonList.results.map((position) => {
      let getId = position.url.slice(34).replace("/", "");
      this.renderListData(getId);
    });

    this.loadFirstResume();
    this.setDetailList(this.pokemonDetailList);

    this.loadingList = false;
  },
  computed: {
    ...mapState("pokeList", ["pokemonList"]),
    ...mapState("pokemon", ["pokemonInfo"]),
  },
  methods: {
    ...mapActions("pokeList", ["loadPokemonList", "loadPokemonDetailList"]),
    ...mapActions("pokemon", ["loadPokemonInfo"]),
    ...mapMutations("pokeList", ["setDetailList"]),

    async renderListData(id) {
      await this.loadPokemonInfo(id).catch((error) => {
        this.$swal("Oops...", error.message, "error");
      });

      let typeList = [];
      this.pokemonInfo.types.map((type) => {
        typeList.push(type.type.name);
      });

      let abilities = [];
      this.pokemonInfo.abilities.map((data) => {
        abilities.push(data.ability.name);
      });

      let statList = [];
      this.pokemonInfo.stats.map((stat) => {
        let stats = {
          baseStat: stat.base_stat,
          effort: stat.effort,
          name: stat.stat.name,
          url: stat.stat.url,
        };
        statList.push(stats);
      });

      let moveList = [];
      this.pokemonInfo.moves.map((moveItem) => {
        let move = {
          name: moveItem.move.name,
          url: moveItem.move.url,
        };
        moveList.push(move);
      });

      let listData = {
        id: this.pokemonInfo.id,
        name: this.pokemonInfo.name,
        baseExperience: this.pokemonInfo.base_experience,
        img: this.pokemonInfo.sprites.other.dream_world.front_default,
        weight: this.pokemonInfo.weight,
        height: this.pokemonInfo.height,
        locationAreaEncounters: this.pokemonInfo.location_area_encounters,
        urlGroup: this.pokemonInfo.sprites,
        type: this.createTypeList(),
        abilities: this.createAbilitiesList(),
        statList: this.createStatList(),
        moves: this.createMoveList(),
      };
      this.pokemonDetailList.push(listData);

      if (this.pokemonDetailList.length > 50) {
        this.loadingTable = false;
        this.setDetailList(this.pokemonDetailList);
      }
    },

    loadResume(pokemon) {
      this.pokemonResume = pokemon;
    },

    async loadFirstResume() {
      let firstId = Math.floor(Math.random() * this.pokemonList.results.length);

      await this.loadPokemonInfo(firstId).catch((error) => {
        this.$swal("Oops...", error.message, "error");
      });

      let resume = {
        id: this.pokemonInfo.id,
        name: this.pokemonInfo.name,
        baseExperience: this.pokemonInfo.base_experience,
        img: this.pokemonInfo.sprites.other.dream_world.front_default,
        weight: this.pokemonInfo.weight,
        height: this.pokemonInfo.height,
        locationAreaEncounters: this.pokemonInfo.location_area_encounters,
        urlGroup: this.pokemonInfo.sprites,
        type: this.createTypeList(),
        abilities: this.createAbilitiesList(),
        statList: this.createStatList(),
        moves: this.createMoveList(),
      };

      this.pokemonResume = resume;
    },

    loadPokemonDetailPage() {
      this.loadComponent === true
        ? (this.loadComponent = false)
        : (this.loadComponent = true);
      this.pokemonDetail = this.pokemonResume;
    },

    getColor(type) {
      let color;
      switch (type) {
        case "water":
          color = "#d4f1f9";
          break;
        case "rock":
          color = "#5A4D41";
          break;
        case "psychic":
          color = "#8C5383";
          break;
        case "poison":
          color = "#D8E1FF";
          break;
        case "normal":
          color = "ffcb08";
          break;
        case "ice":
          color = "#b9e8ea";
          break;
        case "ground":
          color = "#AFBFC0";
          break;
        case "grass":
          color = "#348C31";
          break;
        case "ghost":
          color = "#bcbec0";
          break;
        case "fire":
          color = "#f27d0c";
          break;
        case "fighting":
          color = "#9B1D20";
          break;
        case "fairy":
          color = "#00A7E1";
          break;
        case "electric":
          color = "#B3CEFF";
          break;
        case "dragon":
          color = "#201E1F ";
          break;
        case "dark":
          color = "#232020";
          break;
        case "bug":
          color = "#748E54";
          break;
        default:
          color = "#ed3237";
      }
      return color;
    },

    createMoveList() {
      let moveList = [];
      this.pokemonInfo.moves.map((moveItem) => {
        let move = {
          name: moveItem.move.name,
          url: moveItem.move.url,
        };
        moveList.push(move);
      });
      return moveList;
    },

    createStatList() {
      let statList = [];
      this.pokemonInfo.stats.map((stat) => {
        let stats = {
          baseStat: stat.base_stat,
          effort: stat.effort,
          name: stat.stat.name,
          url: stat.stat.url,
        };
        statList.push(stats);
      });

      return statList;
    },

    createTypeList() {
      let typeList = [];
      this.pokemonInfo.types.map((type) => {
        typeList.push(type.type.name);
      });

      return typeList;
    },

    createAbilitiesList() {
      let abilities = [];
      this.pokemonInfo.abilities.map((data) => {
        abilities.push(data.ability.name);
      });

      return abilities;
    },
  },
};
</script>
<style scoped>
.topbar {
  text-decoration: none;
  color: #3267b1;
}
.row-pointer {
  cursor: pointer;
}

.disabled-chip {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
