<template>
  <v-card :loading="loading" class="mx-auto my-0" max-width="370">
    <v-container class="pa-2" align="center" justify="center">
      <v-img
        contain
        width="100%"
        max-width="370"
        height="320"
        :src="pokemonResume.img"
      ></v-img>
    </v-container>
    <v-card-title class="text-capitalize">
      {{ pokemonResume.name }}
    </v-card-title>
    <v-card-text>
      <div class="text-subtitle-1">
        Base Experience • {{ pokemonResume.baseExperience }}
      </div>
    </v-card-text>
    <v-divider class="mx-4"></v-divider>
    <v-card-title>Abilities</v-card-title>
    <v-card-text>
      <v-chip-group active-class="deep-purple accent-4 white--text" column>
        <v-chip
          v-for="(ability, index) in pokemonResume.abilities"
          :key="index"
          class="text-capitalize disabled-chip"
          :color="choseColor()"
          >{{ ability }}</v-chip
        >
      </v-chip-group>
    </v-card-text>
    <v-card-actions class="mt-10">
      <v-btn
        color="red"
        text
        :loading="loadingBtn"
        @click="openPokemon(pokemonResume.id)"
      >
        More Info
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  props: ["pokemonResume", "loadingBtnStatus"],
  watch: {
    pokemonResume() {
      this.choseColor();
      this.loading = false;
    },
    loadingBtnStatus() {
      this.loadingBtn = this.loadingBtnStatus;
    },
  },
  data() {
    return {
      loading: true,
      chipColor: "",
      loadingBtn: false,
    };
  },
  methods: {
    choseColor() {
      const colors = [
        "#ed3237",
        "#ffcb08",
        "#3267b1",
        "#bcbec0",
        "#d4f1f9",
        "#8C5383",
        "#D8E1FF",
        "#b9e8ea",
        "#AFBFC0",
        "#348C31",
        "#f27d0c",
        "#9B1D20",
        "#00A7E1",
        "#B3CEFF",
        "#748E54",
        "#5A4D41",
      ];
      let position = Math.floor(Math.random() * colors.length);
      return colors[position];
    },

    openPokemon(id) {
      this.loadingBtn = true;
      this.$emit("changeDiologStatus", id);
    },
  },
};
</script>
<style scoped>
.disabled-chip {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
