<template>
  <v-app>
    <top-bar />
    <v-main class="grey lighten-4 mt-2">
      <v-container fluid class="mt-0 pt-0">
        <router-view />
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
import TopBar from "./layouts/TopBar.vue";
export default {
  name: "App",
  components: {
    TopBar
  },
  data() {
    return {
      drawer: false
    };
  },
};
</script>