<template>
  <v-app-bar app clipped-left short elevation="1" color="secondary">
    <v-toolbar-title>
      <router-link class="topbar" :to="{ name: 'pokemons' }">
        PokeDeck
      </router-link>
    </v-toolbar-title>
  </v-app-bar>
</template>

<script>
export default {
  name: "TopBar",
};
</script>

<style scoped>
.topbar {
  text-decoration: none;
  color: #3267b1;
}
</style>
